@import "~vue-material/dist/theme/engine";
@include md-register-theme(
  "default",
  (
    primary: #a0c519,
    // The primary color of your brand
      accent: #4c9f8d // The secondary color of your brand,,
  )
);

@import "~vue-material/dist/theme/all"; // Apply the theme
.background {
  //background: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20200%20200%22%20style%3D%22display%3A%20flex%3B%20transform%3A%20scale(1%2C-1)%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%3Cdefs%3E%0A%20%20%20%20%3ClinearGradient%20id%3D%22bones-gradient%22%20x1%3D%220%25%22%20y1%3D%220%25%22%20x2%3D%22100%25%22%20y2%3D%220%25%22%3E%0A%20%20%20%20%20%20%3Cstop%20offset%3D%220%25%22%20style%3D%22stop-color%3A%234C9F8D%3B%22%20%2F%3E%0A%20%20%20%20%20%20%3Cstop%20offset%3D%22100%25%22%20style%3D%22stop-color%3A%23a0c519%3B%22%20%2F%3E%0A%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%3C%2Fdefs%3E%0A%0A%20%20%3Cg%20fill%3D%22url(%23bones-gradient)%22%0A%20%20%20transform%3D%22rotate(-80%20100%20120)%0A%20%20%20%20translate(30%2035.5)%0A%20%20%20%20scale(1%201)%0A%20%20%20%20%22%3E%0A%20%20%20%20%20%20%3Cpath%20class%3D%22bones%22%20d%3D%22...%22%2F%3E%0A%20%20%20%20%20%0A%20%20%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M18.5%2C-7.4C27.3%2C21.1%2C40.1%2C46.9%2C35.3%2C51.1C30.4%2C55.2%2C8%2C37.6%2C-12.5%2C21.7C-33%2C5.7%2C-51.5%2C-8.5%2C-49.1%2C-28.2C-46.6%2C-47.9%2C-23.3%2C-73.1%2C-9.2%2C-70.1C4.9%2C-67.1%2C9.7%2C-35.9%2C18.5%2C-7.4Z%22%0A%20%20%20%20%20%20transform%3D%22translate(100%20100)%20%22%0A%20%20%20%20%20%20%0A%20%20%20%20%20%20%0A%20%20%3C%2Fg%3E%0A%0A%0A%20%20%20%2F%3E%0A%3C%2Fsvg%3E");
  //background-image: url("data:image/svg+xml, %3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3C!--%20Created%20with%20Inkscape%20(http%3A%2F%2Fwww.inkscape.org%2F)%20--%3E%0A%0A%3Csvg%0A%20%20%20xmlns%3Adc%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Felements%2F1.1%2F%22%0A%20%20%20xmlns%3Acc%3D%22http%3A%2F%2Fcreativecommons.org%2Fns%23%22%0A%20%20%20xmlns%3Ardf%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%22%0A%20%20%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0A%20%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0A%20%20%20xmlns%3Asodipodi%3D%22http%3A%2F%2Fsodipodi.sourceforge.net%2FDTD%2Fsodipodi-0.dtd%22%0A%20%20%20xmlns%3Ainkscape%3D%22http%3A%2F%2Fwww.inkscape.org%2Fnamespaces%2Finkscape%22%0A%20%20%20width%3D%22125.71581mm%22%0A%20%20%20height%3D%22148.27179mm%22%0A%20%20%20viewBox%3D%220%200%20125.71581%20148.27179%22%0A%20%20%20version%3D%221.1%22%0A%20%20%20id%3D%22svg973%22%0A%20%20%20inkscape%3Aversion%3D%220.92.2%205c3e80d%2C%202017-08-06%22%0A%20%20%20sodipodi%3Adocname%3D%225minuteApple.svg%22%3E%0A%20%20%3Ctitle%0A%20%20%20%20%20id%3D%22title824%22%3E5%20Minute%20Apple%3C%2Ftitle%3E%0A%20%20%3Cdefs%0A%20%20%20%20%20id%3D%22defs967%22%20%2F%3E%0A%20%20%3Csodipodi%3Anamedview%0A%20%20%20%20%20id%3D%22base%22%0A%20%20%20%20%20pagecolor%3D%22%23ffffff%22%0A%20%20%20%20%20bordercolor%3D%22%23666666%22%0A%20%20%20%20%20borderopacity%3D%221.0%22%0A%20%20%20%20%20inkscape%3Apageopacity%3D%220.0%22%0A%20%20%20%20%20inkscape%3Apageshadow%3D%222%22%0A%20%20%20%20%20inkscape%3Azoom%3D%220.35%22%0A%20%20%20%20%20inkscape%3Acx%3D%22-182.42681%22%0A%20%20%20%20%20inkscape%3Acy%3D%2228.770087%22%0A%20%20%20%20%20inkscape%3Adocument-units%3D%22mm%22%0A%20%20%20%20%20inkscape%3Acurrent-layer%3D%22layer1%22%0A%20%20%20%20%20showgrid%3D%22false%22%0A%20%20%20%20%20fit-margin-top%3D%220%22%0A%20%20%20%20%20fit-margin-left%3D%220%22%0A%20%20%20%20%20fit-margin-right%3D%220%22%0A%20%20%20%20%20fit-margin-bottom%3D%220%22%0A%20%20%20%20%20inkscape%3Awindow-width%3D%221440%22%0A%20%20%20%20%20inkscape%3Awindow-height%3D%22878%22%0A%20%20%20%20%20inkscape%3Awindow-x%3D%22-8%22%0A%20%20%20%20%20inkscape%3Awindow-y%3D%220%22%0A%20%20%20%20%20inkscape%3Awindow-maximized%3D%220%22%20%2F%3E%0A%20%20%3Cmetadata%0A%20%20%20%20%20id%3D%22metadata970%22%3E%0A%20%20%20%20%3Crdf%3ARDF%3E%0A%20%20%20%20%20%20%3Ccc%3AWork%0A%20%20%20%20%20%20%20%20%20rdf%3Aabout%3D%22%22%3E%0A%20%20%20%20%20%20%20%20%3Cdc%3Aformat%3Eimage%2Fsvg%2Bxml%3C%2Fdc%3Aformat%3E%0A%20%20%20%20%20%20%20%20%3Cdc%3Atype%0A%20%20%20%20%20%20%20%20%20%20%20rdf%3Aresource%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Fdcmitype%2FStillImage%22%20%2F%3E%0A%20%20%20%20%20%20%20%20%3Cdc%3Atitle%3E5%20Minute%20Apple%3C%2Fdc%3Atitle%3E%0A%20%20%20%20%20%20%20%20%3Ccc%3Alicense%0A%20%20%20%20%20%20%20%20%20%20%20rdf%3Aresource%3D%22http%3A%2F%2Fcreativecommons.org%2Fpublicdomain%2Fzero%2F1.0%2F%22%20%2F%3E%0A%20%20%20%20%20%20%20%20%3Cdc%3Adate%3E30%2F1%2F19%3C%2Fdc%3Adate%3E%0A%20%20%20%20%20%20%20%20%3Cdc%3Acreator%3E%0A%20%20%20%20%20%20%20%20%20%20%3Ccc%3AAgent%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cdc%3Atitle%3ECyanide%20Cupcake%3C%2Fdc%3Atitle%3E%0A%20%20%20%20%20%20%20%20%20%20%3C%2Fcc%3AAgent%3E%0A%20%20%20%20%20%20%20%20%3C%2Fdc%3Acreator%3E%0A%20%20%20%20%20%20%20%20%3Cdc%3Asubject%3E%0A%20%20%20%20%20%20%20%20%20%20%3Crdf%3ABag%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Crdf%3Ali%3Eapple%3C%2Frdf%3Ali%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Crdf%3Ali%3Efruit%3C%2Frdf%3Ali%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Crdf%3Ali%3Efood%3C%2Frdf%3Ali%3E%0A%20%20%20%20%20%20%20%20%20%20%3C%2Frdf%3ABag%3E%0A%20%20%20%20%20%20%20%20%3C%2Fdc%3Asubject%3E%0A%20%20%20%20%20%20%3C%2Fcc%3AWork%3E%0A%20%20%20%20%20%20%3Ccc%3ALicense%0A%20%20%20%20%20%20%20%20%20rdf%3Aabout%3D%22http%3A%2F%2Fcreativecommons.org%2Fpublicdomain%2Fzero%2F1.0%2F%22%3E%0A%20%20%20%20%20%20%20%20%3Ccc%3Apermits%0A%20%20%20%20%20%20%20%20%20%20%20rdf%3Aresource%3D%22http%3A%2F%2Fcreativecommons.org%2Fns%23Reproduction%22%20%2F%3E%0A%20%20%20%20%20%20%20%20%3Ccc%3Apermits%0A%20%20%20%20%20%20%20%20%20%20%20rdf%3Aresource%3D%22http%3A%2F%2Fcreativecommons.org%2Fns%23Distribution%22%20%2F%3E%0A%20%20%20%20%20%20%20%20%3Ccc%3Apermits%0A%20%20%20%20%20%20%20%20%20%20%20rdf%3Aresource%3D%22http%3A%2F%2Fcreativecommons.org%2Fns%23DerivativeWorks%22%20%2F%3E%0A%20%20%20%20%20%20%3C%2Fcc%3ALicense%3E%0A%20%20%20%20%3C%2Frdf%3ARDF%3E%0A%20%20%3C%2Fmetadata%3E%0A%20%20%3Cg%0A%20%20%20%20%20inkscape%3Alabel%3D%22Layer%201%22%0A%20%20%20%20%20inkscape%3Agroupmode%3D%22layer%22%0A%20%20%20%20%20id%3D%22layer1%22%0A%20%20%20%20%20transform%3D%22translate(-5.9337595%2C-8.1736341)%22%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20style%3D%22opacity%3A1%3Bfill%3A%238f5902%3Bfill-opacity%3A1%3Bstroke%3Anone%3Bstroke-width%3A5.98095751%3Bstroke-linecap%3Around%3Bstroke-miterlimit%3A4%3Bstroke-dasharray%3Anone%3Bstroke-dashoffset%3A0%3Bstroke-opacity%3A1%22%0A%20%20%20%20%20%20%20d%3D%22m%2068.159194%2C17.720739%2014.60435%2C-9.5471049%20-6.11993%2C34.4240169%20h%20-5.79167%20z%22%0A%20%20%20%20%20%20%20id%3D%22rect883%22%0A%20%20%20%20%20%20%20inkscape%3Aconnector-curvature%3D%220%22%0A%20%20%20%20%20%20%20sodipodi%3Anodetypes%3D%22ccccc%22%0A%20%20%20%20%20%20%20inkscape%3Aexport-xdpi%3D%22202.03999%22%0A%20%20%20%20%20%20%20inkscape%3Aexport-ydpi%3D%22202.03999%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20style%3D%22opacity%3A1%3Bfill%3A%23cc0000%3Bfill-opacity%3A0.99526068%3Bstroke%3Anone%3Bstroke-width%3A4.61103773%3Bstroke-linecap%3Around%3Bstroke-miterlimit%3A4%3Bstroke-dasharray%3Anone%3Bstroke-dashoffset%3A0%3Bstroke-opacity%3A1%22%0A%20%20%20%20%20%20%20d%3D%22M%2049.790629%2C34.349561%20C%20-34.972417%2C45.385195%2020.027783%2C185.40466%2073.311784%2C151.02465%20118.83382%2C170.97246%20126.24208%2C121.9703%20130.63737%2C95.852437%20134.59283%2C72.348177%20127.73273%2C35.93368%2096.166154%2C35.341641%20c%20-7.59586%2C-0.14246%20-15.56679%2C-0.973092%20-21.60568%2C7.25601%20-7.12647%2C-8.848896%20-15.633983%2C-9.437523%20-24.769845%2C-8.24809%20z%22%0A%20%20%20%20%20%20%20id%3D%22path818%22%0A%20%20%20%20%20%20%20inkscape%3Aconnector-curvature%3D%220%22%0A%20%20%20%20%20%20%20sodipodi%3Anodetypes%3D%22scsscs%22%0A%20%20%20%20%20%20%20inkscape%3Aexport-xdpi%3D%22202.03999%22%0A%20%20%20%20%20%20%20inkscape%3Aexport-ydpi%3D%22202.03999%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20style%3D%22opacity%3A1%3Bfill%3A%23a40000%3Bfill-opacity%3A0.55924174%3Bstroke%3Anone%3Bstroke-width%3A4.61103773%3Bstroke-linecap%3Around%3Bstroke-miterlimit%3A4%3Bstroke-dasharray%3Anone%3Bstroke-dashoffset%3A0%3Bstroke-opacity%3A1%22%0A%20%20%20%20%20%20%20d%3D%22m%2055.597321%2C33.902684%20c%20-1.858582%2C0.401256%20-3.839321%2C0.193168%20-5.806692%2C0.446877%2012.428255%2C2.173304%2017.813305%2C7.527542%2024.769845%2C8.24809%20-3.78637%2C-4.728081%20-12.56521%2C-10.076244%20-18.963153%2C-8.694967%20z%20m%2036.181443%2C1.361651%20c%20-2.11459%2C-0.01598%20-4.22487%2C0.05572%20-6.28205%2C0.419073%200.76842%2C0.01831%201.53697%2C0.03993%202.30015%2C0.05425%2031.566586%2C0.59204%2038.426696%2C37.006529%2034.471236%2C60.510799%20-3.43354%2C20.402813%20-8.7056%2C54.770503%20-32.549446%2C59.324783%2030.976436%2C2.54335%2037.029036%2C-37.13251%2040.828526%2C-59.709943%203.95546%2C-23.50426%20-2.90464%2C-59.918766%20-34.471206%2C-60.510806%20-1.42424%2C-0.02672%20-2.86183%2C-0.07732%20-4.29721%2C-0.08816%20z%20M%2053.108639%2C156.31036%20c%205.176052%2C0.70286%2014.061565%2C-1.36493%2020.682465%2C-5.56488%20-6.42347%2C-1.46455%20-12.22046%2C3.99628%20-20.682465%2C5.56488%20z%22%0A%20%20%20%20%20%20%20id%3D%22path818-9%22%0A%20%20%20%20%20%20%20inkscape%3Aconnector-curvature%3D%220%22%0A%20%20%20%20%20%20%20sodipodi%3Anodetypes%3D%22sccscccccscccccc%22%0A%20%20%20%20%20%20%20inkscape%3Aexport-xdpi%3D%22202.03999%22%0A%20%20%20%20%20%20%20inkscape%3Aexport-ydpi%3D%22202.03999%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20style%3D%22opacity%3A1%3Bfill%3A%23ffffff%3Bfill-opacity%3A0.55924174%3Bstroke%3Anone%3Bstroke-width%3A4.28443146%3Bstroke-linecap%3Around%3Bstroke-miterlimit%3A4%3Bstroke-dasharray%3Anone%3Bstroke-dashoffset%3A0%3Bstroke-opacity%3A1%22%0A%20%20%20%20%20%20%20d%3D%22m%2023.931143%2C59.751237%20c%203.076912%2C-5.8907%2013.448819%2C-9.785962%2013.448819%2C-9.785962%20-20.03719%2C13.869062%20-12.114193%2C33.227942%20-13.935776%2C33.023782%20-8.359379%2C-12.46546%20-2.589955%2C-17.34711%200.486957%2C-23.23782%20z%22%0A%20%20%20%20%20%20%20id%3D%22rect880%22%0A%20%20%20%20%20%20%20inkscape%3Aconnector-curvature%3D%220%22%0A%20%20%20%20%20%20%20sodipodi%3Anodetypes%3D%22zccz%22%0A%20%20%20%20%20%20%20inkscape%3Aexport-xdpi%3D%22202.03999%22%0A%20%20%20%20%20%20%20inkscape%3Aexport-ydpi%3D%22202.03999%22%20%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
  //background-image: url(assets/background1.svg);
  background-image: url(assets/background.png);
  background-position: 80% 0;
}

.md-layout-item {
  margin-top: 40px;
}

// .background-bottom {

// }

//Boking/BookingForm styles

.calendarmain .vc-container {
  width: 100% !important;
}

.cardetails-main .v-input__slot {
  margin-bottom: 0;
  position: relative;
}
.cardetails-main .v-text-field__details {
  position: absolute;
  top: 48px;
}

.fullwidth {
  width: 100%;
  display: flex !important;
}

.white.sameheight,
.sameheight {
  height: 76px !important;
  border: 1px solid #4a9f8d !important;
}

.white.sameheight {
  background-color: #ffffff !important;
}

@media only screen and (max-width: 600px) {
  .tooltip-o {
    position: relative;
    margin-top: 0.5rem;
    color: gray;
  }
}
// CarDetails

.tooltip-d {
  position: relative;
  margin-top: 0.5rem;
  color: gray;
}

@media only screen and (max-width: 600px) {
  .tooltip-d {
    position: relative;
    margin-top: 0.5rem;
    color: gray;
  }
}

.container {
  width: 100% !important;
}

// .ttcontent {
//   -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,1);
// -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,1);
// box-shadow: 0px 0px 3px 0px rgba(0,0,0,1);
// padding: 10px;
// position: relative;
// }
// .ttcontent::before {
//   position: absolute;
//   content: "";
//   width: 0;
// 	height: 0;
// 	border-top: 10px solid transparent;
// 	border-left: 20px solid #ffffff;
//   border-bottom: 10px solid transparent;
//   right: -10px;
// }

@media screen and (min-width: 1216px) {
  .container {
    max-width: 926px !important;
  }

  .inner-container-center {
    width: 630px;
    min-height: 1466px;
    margin: 0 auto;
    padding-top: 40px;
    background-image: url(assets/bg.png);
    background-position: 100% 100%;
    background-size: contain;
    padding-bottom: 140px;
    background-repeat: no-repeat;
  }
}

.inner-container-home {
  padding-top: 40px;
  background-image: url(assets/bg.png);
  background-position: 100% 100%;
  background-size: contain;
  padding-bottom: 140px;
  background-repeat: no-repeat;
}

.booking-car-detail-card-title {
  font-size: 20px;
  line-height: 24px;
  b {
    a {
      color: rgba(0, 0, 0, 0.6) !important;
      text-decoration: underline;
      &:hover {
        color: inherit;
      }
    }
  }
}

.booking-car-detail-card-detail {
  a {
    color: rgba(0, 0, 0, 0.6) !important;
    text-decoration: underline;
    &:hover {
      color: inherit;
    }
  }
}

.thank-you-page-detail {
  p {
    font-weight: bold;
  }
}
